<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title> - 用户管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


    <style>
        html,body{
            margin: 0;
            padding: 10px;
        }
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }
        .imgArr{
            display: flex;
            align-items: center;
        }
        .imgArr img{
            margin: 10px;
        }
    </style>

</head>

<body>
    <div id="user">
        <el-table
                  border
            :data="tableLstInit"
            style="width: 100%">
            
            <el-table-column
              prop="USER_ID"
              label="用户ID">
            </el-table-column>
            <el-table-column
              prop="USERNAME"
              label="用户名">
            </el-table-column>
            <el-table-column
              prop="PASSWORD"
              label="用户密码">
            </el-table-column>
            <el-table-column label="操作"  fixed="right" width="250">
              <template slot-scope="scope">
                <el-button
                  type="primary"
                  size="mini"
                  @click="collet(scope.$index, scope.row)">查看收藏菜品</el-button>
                <el-button
                  type="danger"
                  size="mini"
                  @click="delete(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
        </el-table>
<!--
        <div style="text-align:right;">
            <el-pagination
              @current-change="handleCurrentChange"
              :current-page="pageInit.page"
              :page-size="10"
              layout="total, prev, pager, next, jumper"
              :total="pageInit.total">
            </el-pagination>
        </div>
-->
        <el-dialog title="收藏菜品" :visible.sync="dialogTableVisible">
          <el-table :data="gridData">
            <el-table-column property="menu_id" label="ID" width="200"></el-table-column>
            <el-table-column property="food_name" label="菜品名字"></el-table-column>
          </el-table>
        </el-dialog>
    </div>
</body>


    <!-- 全局js -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script>
        var basePath="/"+window.location.pathname.split("/")[1];

        var user=new Vue({
            el:"#user",
            data(){
                return {
                    tableLstInit:[],
                    dialogTableVisible:false,
                    gridData:[]
                    
                }
            },
            mounted(){
                this.getThemeList(1);
            },
            methods:{
                
                getThemeList() {
                    let that=this;
                    $.ajax({
                        type: "get",
                        url: basePath+"/getAllUser",
                        data: "",
                        success: function (data){
                            console.log(data);
                            if(data.msg=="200"){
                                that.tableLstInit=data.result;
                            }
                        },
                        error:function(){
                        }
                    });
                },
                collet(index,row){
                    let that=this;
                    $.ajax({
                        type: "get",
                        url: basePath+"/bac_/getPageMenuCollections",
                        data: {user_id:row.USER_ID,currentPage:1,showCount:999},
                        success: function (data){
                            console.log(data);
                            that.gridData=data.rows;
                            that.dialogTableVisible=true;
                        },
                        error:function(){
                        }
                    });
                },
                delete(index,row){
                    
                }
            }
        })

    </script>
</html>
